/*
PALETAS DE COLORES

PALETA 1
#3b93f7
#69478a
#7b84ba
#b1b6fb
#db4d29

*/

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #7b84ba;
}

nav, footer {
  background-color: #db4d29;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 40px;
  margin-bottom: 10px;
}

.brand-name {
  text-decoration: none;
  color: whitesmoke;
}

main {
  margin: 10px;
  justify-content: center;
}

nav, footer {
  color: #bbb693 
}

h1 {
  color: #69478a;
  
  font-size: 3em;
  margin: 15px;
  padding: 10px;
}



h1, .card-title, footer {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

.deck {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  padding: 7px;
  background-color: #b1b6fb;
  border-radius: 5px;
  width: 16rem;
  height: 16rem;
}

.card > a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-title {
  margin-bottom: 15px;
  font-size: 1.5em;
}

.card-description {
  font-weight: bold;
  margin-top: 15px;
  padding: 5px;
  text-align: center;
}

.card:hover {
  transform: scale(1.04);
  background-color: #69478a;
  border: 2px solid #db4d29;
}

footer {
  margin-top: 10px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prueba-colores {
  display: flex;
  justify-content:space-evenly;
  text-align: center;
  margin: 5px;
  padding: 10px;
}

/* .paleta1 {
  width: 50%;
  border: 1px solid black;
} */
